body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #c01010;
    color: #333;
}

h1 {
    color: #ebd833;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #73e9ed;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #ff1a1a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

form p {
    margin-bottom: 10px;
}

form button {
    background-color: #28a745;
    color: rgb(216, 20, 20);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #b81c1c;
}
